aiodns==2.0.0
aiohttp==3.7.4
async-timeout==3.0.1
asyncpg==0.22.0
attrs==20.3.0
Automat==20.2.0
bitarray==1.6.3
cchardet==2.1.7
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
constantly==15.1.0
cryptography==3.4.4
cssselect==1.1.0
hyperlink==21.0.0
idna==2.10
incremental==17.5.0
itemadapter==0.2.0
itemloaders==1.0.4
jmespath==0.10.0
lxml==4.6.2
multidict==5.1.0
Naked==0.1.31
numpy==1.20.1
parsel==1.6.0
Protego==0.1.16
psycopg2==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybloom-live==3.0.0
pycares==3.1.1
pycparser==2.20
pycryptodome==3.10.1
PyDispatcher==2.0.5
PyHamcrest==2.0.2
pyOpenSSL==20.0.1
PyYAML==5.4.1
queuelib==1.5.0
readability-lxml==0.8.1
requests==2.25.1
Scrapy==2.4.1
service-identity==18.1.0
shellescape==3.8.1
six==1.15.0
Twisted==20.3.0
typing-extensions==3.7.4.3
urllib3==1.26.3
w3lib==1.22.0
yarl==1.6.3
zope.interface==5.2.0
